body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

.flex-container {
    padding: 10px;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    list-style: square;
    position: fixed;
    bottom: 20px;
    width: 100%;
    background-color: black;
}

.header {
    width: 100%;
    height: 30px;
    top: 0px;
    background-color: black;
}

#date {
    position: fixed;
    right: 10%;
    color: white;
}

#alignRight {
    position: fixed;
    top: 30px;
    right: 30px;
    border: 3px solid black;
}

/*modal background*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal.shown {
    display: block;
}
.hide {
    display: none !important;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.flex-button {
    padding: 10px;
    min-height: 50px;
    min-width: 100px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    bottom: 30px;
}

#footer {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    list-style: square;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
}

#orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    overflow: scroll;
}

.order {
    width: calc((100% / 5) - 5px);
    height: 75%;
    background: black;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.orderBanner{
    width: 100%;
    display: flex;
}
.displayTableNumber {
    text-align: left;
    width: 48%;

}
.displayOrderTime {
    text-align: right;
    align-items:flex-end;
    width: 48%;
}

.orderComplete {
    height: 20px;
    position: relative;
    width: 30%;
    bottom: 10px:
}
#viewHistory {

}