body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  font-family: "Segoe UI", sans-serif;
}

.flex-container {
    padding: 10px;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    list-style: square;
    position: fixed;
    bottom: 20px;
    width: 100%;
    background-color: black;
}

.header {
    width: 100%;
    height: 30px;
    top: 0px;
    background-color: black;
}

#date {
    position: fixed;
    right: 10%;
    color: white;
}

#alignRight {
    position: fixed;
    top: 30px;
    right: 30px;
    border: 3px solid black;
}

/*modal background*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal.shown {
    display: block;
}

.hide {
    display: none !important;
}

/* Modal Content */
.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.flex-button {
    padding: 10px;
    min-height: 50px;
    min-width: 100px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    bottom: 30px;
}

#footer {
    display: flex;
    list-style: square;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #393941;
    align-content: flex-end;
    align-items: flex-end;
}

#orders-container {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: flex-start;
    height: calc(100% - 75px);
    border-radius: 10px;
    overflow-y: scroll;
}

.order {
    width: calc((100% / 4) - 25px);
    min-height: 300px;
    background: black;
    color: white;
    margin: 1px 0px 0px 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.orderBanner {
    width: 100%;
    height: 20px;
    margin: -10px;
    padding: 10px;
    display: flex;
    background-color: #9DA3A3;
}
.displayTableNumber {
    text-align: left;
    width: 50%;
}
.displayOrderTime {
    text-align: right;
    align-items:flex-end;
    width: 50%;
}

button {
    background: linear-gradient(#909090, #808080);
    /*border: 2px solid gray;*/
    border: none;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    padding: 7px 14px;
    border-radius: calc(1em + 10px);
    cursor: pointer;
    color: #F5F5F5;
    font-family: inherit;
}

button:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    background: linear-gradient(#878787, #777777);
}

button:active {
    background: linear-gradient(#808080, #707070);
}
#viewHistory {
    display: block;
}

li {
    list-style: none;
}

.displayDishes {
    padding: 20px;
    background-color: gainsboro;
    color: black;
    border-radius: 5px;
}

.flex-spacer {
    flex-grow: 1;
}

.displayDishes li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
}

.displayNotes {
    margin-bottom: 10px;
}